<html>

  
  
  <body class= bg-light>
    <header>
        <div class="px-4 py-5 my-5 text-center">
          <h1 class="display-5 fw-bold">Bienvenue sur GOSSIP</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">est-ce que tu veux des potins ?</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        </div>
    </header>

    <main class="container card-group">
      <% @gossips.each do |gossip| %> 
                  

        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card m-3 bg-white text-dark" style="width: 18rem;">
              <img src="https://img.pngio.com/gossip-podcast-gossip-png-500_500.png" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title text-muted small">Gossip numéro <%= gossip.id%></h5>
                <p class="card-text ">Son titre: <%= gossip.title%></p>
                <p class="card-text text-primary small"> Son auteur : <%= gossip.user.first_name%> </p>
                <%= link_to "Lire son contenu", gossip_path(gossip), class:"btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
        
      <% end %>
    </main>

  </body>

</html>